<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>AngularJS Fundamentals</title>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript">
      angular.module("app", [])
    </script>
  </head>
  <body>
    <h1>{{ name }}</h1>
    <input name="name" ng-model="name" />
    
    <!-- One time binding -->
    <h1>{{:: sample }}</h1>
    <input name="sample" ng-model="sample" />
  </body>
</html>